body {
  background-color: #11325B;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

h1 {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: #2C5072;
  font-size: 80px;
  font-family: 'Sigmar One', cursive;
}

button {
  background-color: #2C5072 !important;
  border: black solid 1px !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-decoration: none !important;
  font-family: 'Sigmar One', cursive;
  font-size: 30px;

  
}

button:hover {
  background-color: white !important;
  color: black !important;
  border: white solid 1px;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: none;
}

input[type=text],
select {
  width: 100%;
  max-width: 400px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: #11325B;
}

div {
  font-family: 'Sigmar One', cursive;
  color: white;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 3%;
  margin-left: 1%;
  float: left;
}

Button:focus {
  outline: none !important; 
  box-shadow: none !important;
}

hr {
  border-top: 1px solid white;
}

.shorter-hr{
  width: 70%;
} 

.things-txt {
  color: black !important;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

::placeholder {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.black-txt {
  color: white !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: smaller;
}

label {
  border: black solid 1px;
  background-color: #2C5072;
  width: 300px;
}

#message-container div:nth-child(2n) {
  background-color: #46a4fb;
  color: black;
}



/* mobile */

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 45px;
  }

  button {
    font-size: 15px !important;
  }

  div {
    font-size: 20spx;
  }
}